body {
  background-image: url(../img/libros/FONDO-Wallpaper1.png);
}
.categoria {
  display: flex;
  margin: 3rem;
  justify-content: space-between;
}

.tarjeta-categoria {
  margin: 5rem;
  transition: 0.4s;
}

.tarjeta-categoria:hover {
  box-shadow: 5px 5px 20px rgba(254, 254, 254, 0.5);
}

.tarjeta-categoria img {
  margin-left: -0.8rem;
  width: 18rem;
  height: 25rem;
}
strong {
  color: #db4a39;
}
.toast-header img {
  margin-left: 0.2rem;
  height: 1.5rem;
  width: 1.5rem;
}
.paginacion {
  margin-right: 1rem;
}
.paginacion a:hover {
  color: black;
}

/* */
@media (max-width: 1400px) {
  .tarjeta-categoria {
    margin: 1rem;
    transition: 0.4s;
  }
}

/* */
@media (max-width: 927px) {
  .categoria {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tarjeta-categoria {
    margin: 2.5rem;
    transition: 0.4s;
  }
}

/* mediacueris para pantallas muy pequeñas */
@media (max-width: 375px) {
  .tarjeta-categoria img {
    margin-left: -0.8rem;
    width: 17.4rem;
  }
  .tarjeta-categoria {
    margin: 1rem;
    transition: 0.4s;
  }
}
